/* LAYOUT */
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


/* MAIN WINDOW */

#main-window {
  flex-grow: 1;
  display: flex;
}


/* SIDEBAR */
/* sidebar top */

#sidebar {
  flex-basis: 220px; /* larghezza sidebar */
  display: flex;
  flex-direction: column;
}
.sidebar-top {
  display: flex;
  flex-grow: 1;
  background: #040404;
  position: relative;
}
.sidebar-top .logo {
  position: absolute;
  left: 31px;
  top: 20px;
  max-width: 140px;
}
.navbar-top ul li,
.navbar-top ul li h5 {
  list-style: none;
  padding: 5px 10px;
}
.navbar-top ul li a{
  color: #54575D;
  text-decoration: none;
}
.navbar-top li a:hover,
.navbar-top li a:active,
.navbar-top li a:focus {
  color: #fff;
}
.navbar-top li a i:hover,
.navbar-top li a i:active,
.navbar-top li a i:focus {
  color: #fff;
}
.fa-plus-square {
  font-size: 38px;
  color: #54575D;
}

/* navbar bottom */
.line {
  position: relative;
  padding: 5px 10px;
  color: #54575D;
}
.line::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 10px;
  width: 190px;
  height: 2px;
  background: #54575D;
}
.sidebar-bottom {
  background: #000;
}
.profile {
  padding: 25px 0 5px 10px;
}
.img-round-small {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: grey;
}
/* CONTENT */
#content {
  position: relative;
  flex-grow: 1;
  background: #000;
}
/* top bar fixed fake */
.content-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: rgba( 0, 0, 0, .5);
  z-index: 1;
}
#content .scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* 90px = height di content-top-bar */
  padding: 90px 15px 30px;
}
.content-top-bar button {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  border-radius: 500px;
  color: #fff;
  padding: 8px 34px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #fff;
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 23px;
}
/* content menu */
.scrollable {
  background: #181818;
  position: relative;
}
.content-menu {
  display: flex;
  justify-content: center;
}
.u-list-inline li {
  padding-top: 20px;
}
.u-list-inline li a {
  text-decoration: none;
  padding-left: 10px;
  color: #54575D;
  font-weight: 600;
}
.u-list-inline li a::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #a3eb4d;
  top: 130px;
  left: 340px;
  transform: translateX(-50%);
  opacity: 0;
}
.u-list-inline a:hover::after {
  opacity: 1;
}
/* content category */
.content-category {
  position: relative;
}
.container-album {
  display: flex;
  flex-basis: 25%;
  flex-direction: row;
  flex-wrap: wrap;
}
.cover-album {
  height: 160px;
  width: 166px;
  margin: 20px 10px 10px;
}
.container-album .cover-album img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 20px 10px 10px;
  flex-shrink: 0;
}
.content-category span {
  display: block;
  padding-top: 3px;
  color: #b3b3b3;
}
/* section img round */
.img-round {
  -moz-border-radius: 170px;
  -webkit-border-radius: 170px;
  border-radius: 170px;
}
/* BOTTOM PLAYER */
#player {
  background:#282828;
  display: flex;
  justify-content: space-between;
}
.small-album {
  flex-basis: 300px;
  justify-content: space-evenly;
  display: flex;
}
.img-album img{
  padding-top: 20px;
  object-fit: cover;
  flex-shrink: 0;
}
.name-album {
  padding-top: 25px;
}
.icon-album {
  padding-top: 30px;
  letter-spacing: 1.76px;
}

/* central player */

.central-player {
  flex-basis: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-player i{
  padding-top: 20px;
  letter-spacing: 14px;
  color: #fff;
}
.icon-player i:hover,
.icon-player i:active,
.icon-player i:focus {
  color: lawngreen;
}
.fa-play-circle {
  font-size: 30px;
  vertical-align: -5px;
  padding-bottom: 5px;
}
.time-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
.time-value {
  margin: 0 15px;
}
.line-time {
  position: relative;
  height: 2px;
  background-color:#54575D;
  width: 100%;
}
.line-time::before {
  content: '';
  position: absolute;
  height: 2px;
  background-color:#999;
  width: 20%;
}
.line-time i.fas.fa-circle,
.line-volume i.fas.fa-circle {
  position: absolute;
  top: 0;
  left: 20%;
  transform: translateY(-6px);
  color:lawngreen;
  opacity: 0;
}
.line-time i.fas.fa-circle:hover,
.line-volume i.fas.fa-circle:hover {
  opacity: 1;
}
/* volume rocker */

.volume {
  flex-basis: 300px;
  display: flex;
  align-items: center;
}
.line-volume {
  position: relative;
  top: 9px;
  height: 2px;
  background-color:#54575D;
  width: 100px;
}
.line-volume::before {
  content: '';
  position: absolute;
  top: 0px;
  height: 2px;
  background-color:#999;
  width: 30px;
}